body{
    align-items: center;
     ;
}
.canvas0{
    align-self: center;
    background-color: aqua;
    height: 500px;
    width: 500px;

}
.footer{
    align-self: center;
    align-items: center;
    margin-top: 5%;
}