<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Recrutment test</title>
  </head>
  <body>
    <div>
      <h1>Test technique Koala</h1>
    </div>
    <div class="canvas0" >
      <canvas id="canvas">
      </canvas>
    </div>
    <div class="footer">
      <input type="text"  name="bete" #bete/>
      <button  (click)="SendData(bete.value)">Ajouter une pensé bête!</button>
      <button>
        <img src="assets/document-outline.svg"/>
      </button>
    </div>
    
  </body>
</html>