:root{
    --stikyColor:red;
}

.stiky{
    height: 100px;
    width: 150px;
    border: solid;
    border-color: red;
    --background-color: var(--stikyColor);
}

.stikyButton{

    img{
        height: 20px;
        width: 20px;
    }
}

.removeSticky{
    img{
        height: 20px;
        width: 20px;
    }
}