<div ng-app style="background-color: --stikyColor;" class="stiky" cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="stikyButton">
        <div class="removeSticky">
            <button (click)="close()">
                <img src="assets/close-circle-outline.svg" />
            </button>
        </div>
        <div class="--coloreStiky">
            <select >
                <option>Red</option>
                <option>blue</option>
                <option>green</option>
                <option>pink</option>
                <option>yellow</option>
            </select>
           
        </div>
        
    </div>
    <div class="stikytext">
        <p>test</p>
    </div>
     
</div>